.window-tab {
    // TODO - appear transition. 09:00 in recording

    width: 135px;
    height: 2rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;

    border-radius: 2px;
    padding: 0.25rem .5rem;
    text-overflow: ellipsis;
    color: #b8fbfd;
    font-size: .875rem;

    background: linear-gradient(0deg, #4892f7 0%, #3980f4 17%);

    border-top: 1px solid #3172da;
    border-left: 1px solid #3067dd;
    border-right: 1px solid #264fad;
    border-bottom: 1px solid #2652bc;

    &:hover {
        background: linear-gradient(0deg, #8bc0ff 0%, #59a4ff 5%, #569fff 90%, #2a81ff 100%);

        border-top: 1px solid #2c5fb2;
        border-left: 1px solid #214ba9;
        border-right: 1px solid #1f408c;
        border-bottom: 1px solid #1d4196;
    }

    &:hover:has(.window-tab--active) {
        background: linear-gradient(0deg, #3170e2 0%, #2f6bdd 5%, #2c66d8 90%, #295fd2 100%);

    }

    &--active, &:active {
        background: linear-gradient(0deg, #123d94 0%, #1951b9 5%, #1a50b8 80%, #2156b7 100%);

        border-top: 1px solid #1c62d2;
        border-left: 1px solid #082970;
        border-right: 1px solid #0e3c9f;
        border-bottom: 1px solid #0c3cae;
    }


    img {
        height: 100%;
    }

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}
