.start-button {
    font-family: "Trebuchet MS", sans-serif;
    font-style: italic;
    font-weight: bold;

    height: 100%;
    background: rgb(54, 175, 47);
    background: linear-gradient(0deg, rgba(54, 175, 47, 1) 85%, rgba(44, 241, 33, 1) 100%);
    color: var(--default-text-color, #f3f9f4);
    border: none;
    border-radius: 0;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    font-size: 1.5rem;

    padding: 0.25rem 1.5rem 0.25rem 1rem;

    &:hover, :active {
        box-shadow: none;
        outline: none;
    }

    & img {
        height: 1.75rem;
        width: 1.75rem;
    }
}