.app-shortcut {
    display: grid;
    justify-items: center;
}

.app-shortcut img {
    height: 4rem;
    width: 4em;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.app-shortcut h2 {
    color: var(--default-text-color);
    font-size: 1.25rem;
}