.process-menu {
    display: grid;
    align-items: center;
    padding-left: .75rem;
    padding-right: .75rem;

    background: #0997ff;
    background: linear-gradient(180deg,
            #16adf0 0%,
            #19b9f3 5%,
            #1290e8 18%,
            #0d8dea 60%,
            #0fa0ef 90%,
            #1582dc 100%
    );
    border-left: 1px solid #3822c4f4; /* Combining left borders */

    color: #b8fbfd;
    font-size: 0.875rem;

    cursor: default;
}